:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #a349a4;
    --secondary: #00a2e8;;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

body {
    background-color: #fff;
    font-weight: 400;
    line-height: 1.65;
    padding-top: 75px;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-size: 1rem;
    color: #212529;
    text-align: left;
}

.no-drag {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
div {
    display: block;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: .5rem 1rem;
    background: #fff!important;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.11);
}

.bookmark-box {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding: 30 0 20 0;
    border-left: 1px solid #c3c3c3;
}
.bookmark-title {
    display: block;
    padding-left: 10px;
    transition: 0.3s;
}
.bookmark-content {
    display: block;
    padding-left: 10px;
    padding-right: 5px;
    transition: 0.3s;
}

/* snackbar */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 1 seconds */
    -webkit-animation: fadein 0.3s, fadeout 0.3s 1.3s;
    animation: fadein 0.3s, fadeout 0.3s 1.3s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }

/* 공통 */

.fixed-bottom, .fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
.fixed-top {
    top: 0;
}
.fixed-right {
    position: fixed;
    right: 0;
    padding-right: 1rem;
}

.h1 { font-size: 2em; }
.h2 { font-size: 1.5em; }
.h3 { font-size: 1.17em; }
.h4 { font-size: 1em; }
.h5 { font-size: 0.83em; }
.font-bold { font-weight: bold; }
.font-primary {
    color: var(--primary);
}
.font-secondary {
    color: var(--secondary);
}
.cursor-click {
    cursor: pointer;
}
.font-hover:hover {
    color: var(--secondary);
}
.tag-hover:hover {
    background-color: var(--secondary);
}

.read-container {
    font-family: 'ffNoto';
    padding-left: 30px;
    padding-right: 30px;
}

.read-container::selection {
    background-color: var(--primary);
    color: white;
}

.btn {
    border: 0px;
    padding: 5px 10px 5px 10px;
}
.btn-primary {
    background-color: var(--primary);
    color: white;
}
.btn-primary:hover {
    background-color: var(--secondary);
}
.btn-bookmark svg path{
    fill: var(--primary);
}
.btn-bookmark:hover svg path{
    fill: var(--secondary);
}
.btn-bookmark-list svg path{
    fill: var(--primary);
}
.btn-bookmark-list:hover svg path{
    fill: var(--secondary);
}

.file-title {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}